body {
  overflow: scroll;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  width: 100%;
}

#light {
  background-color: white;
}

#dark {
  background-color: #1a1a1a;
}

.switch {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 5em;
  /* margin-top: -2.5em; */
}
label {
  font-size: 12px;
}
#light label {
  color: #495057;
}

#dark label {
  color: #ffc995;
}

#dark h2 h3 {
  color: #ff922b;
}

#dark .ql-align-justify {
  color: #ffc995;
  letter-spacing: 1.2px;
  /* display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: fit-content;
  line-height: 1.4 !important; */
}

@media screen and (max-width: 500px) {
  .switch {
    margin-right: 0.3em;
  }
}
