body {
  height: 100vh;
}

.register-container {
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  text-decoration: none !important;
  font-weight: 600;
  letter-spacing: 0.8px;
}
a {
  text-decoration: none;
  margin-left: 6px;
}

h1 {
  margin: 0 auto;
}

.register-form {
  margin-top: 4.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 1em;
}

input {
  width: 60%;
  height: 2em;
  gap: 1em;
}

#light input {
  background-color: #f8f9fa;
  color: #495057;
}
#dark input {
  background-color: #ffc995;
  color: #ff922b;
}
#light ::placeholder {
  background-color: #f8f9fa;
  color: #495057;
}
#dark ::placeholder {
  color: #331d09 !important;
  background-color: #ffc995;
}

#dark input[type="text"] {
  color: #331d09 !important;
  background-color: #ffc995;
}

#dark input[type="email"] {
  color: #331d09 !important;
  background-color: #ffc995;
}

#dark input[type="password"] {
  color: #331d09 !important;
  background-color: #ffc995;
}

#light .p-login {
  color: #1a1a1a;
}
#dark .p-login {
  color: #ffc995;
}

#light span {
  color: #1a1a1a;
}
#dark span {
  color: #ff922b;
}
