.login-container {
  max-width: 600px;

  margin: 0 auto;
  display: flex;
}

h1 {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
#light h1 {
  color: #495057;
}
#dark h1 {
  color: #ff922b;
}

.register-form {
  margin-top: 4.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 1em;
}

input {
  width: 60%;
  height: 2em;
  gap: 1em;
  border-left: none;
  border-top: none;
  border-right: none;
}

#light input {
  background-color: #f8f9fa;
  color: #495057;
}
#dark input {
  background-color: #ffc995;
  color: #ff922b;
}
#light ::placeholder {
  background-color: #f8f9fa;
  color: #495057;
}
#dark ::placeholder {
  color: #331d09;
  background-color: #ffc995;
}

.register-btn {
  width: 60%;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 5px;
  border: none;
}

#light .register-btn {
  background-color: #2b8a3e;
  color: #f8f9fa;
}
#dark .register-btn {
  background-color: #ff922b;
  color: #331d09;
}

p {
  font-size: 12px;
  color: #f8f9fa;
}

#light p {
  color: #495057;
}
#dark p {
  color: #ffc995;
}

.link {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.8px;
}

#light .link {
  color: #1a1a1a;
}
#dark .link {
  color: #ff922b;
}
